[submodule "memory-game"]
	path = memory-game
	url = https://github.com/mairamartinsk/memory-game
[submodule "pixel-art-maker"]
	path = pixel-art-maker
	url = https://github.com/mairamartinsk/pixel-art-maker.git
[submodule "portfolio-site"]
	path = portfolio-site
	url = https://github.com/mairamartinsk/mairamartinsk.github.io.git
